<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Authority</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="box">
        <div class="common">
            <%= status %>
        </div>
        <% if (certificateNumber !==0) { %>
            <div class="common">
                <%= certificateNumber %>
            </div>
            <% } %>
    </div>
</body>

</html>